<!DOCTYPE html>
{% load static %}
<html Lang="en">
    <head>
        <title> CRUD - Poornank </title>
        <link rel="stylesheet" href="{% static 'crudapp/css/bootstrap.css' %}">
    </head>
    <body>

        <div class="container mt-5">
            <h2 class = "text-center alert alert-danger"> Function based view Modelform CRUD Project</h2>
            {% block content%} {% endblock content%}

        </div>
        <script scr="{% static 'crudapp/js/jquery.js'%}"></script>
        <script scr="{% static 'crudapp/js/popper.js'%}"></script>
        <script scr="{% static 'crudapp/js/bootstrap.js'%}"></script>
    </body>
    </html>